*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#clock-container{
    background-color: red;
    height: 40vW;
    width: 40vw;
    border: 1px solid red;
    background: url(../img/bg.png) no-repeat;
    background-size: 100%;
    margin:auto;
}

#hours,#minutes,#seconds {
    position:absolute;
    background-color:black;
    border-radius: 10px;
    display: flex;
}

#hours{
    height: 29%;
    width: 1.5%;
    left: 49.25%;
    bottom: -23%;
    position: relative;
   
}


#minutes{
    height: 32%;
    width: 1.2%;
    left: 49.3%;
    bottom: -19.6%;
    position: sticky;
    
}

#seconds{

    height: 40%;
    width: 1%;
    left: 49.6%;
    bottom: 50%;
    position: sticky;
  
}